$color-principal: rgb(247, 247, 247);
$color-boton: #e37733;
$color-hover:rgb(197, 22, 22) !important;
$color-header:rgb(244, 223, 198) !important;
$color-promociones:rgb(255, 150, 150);
$color-tit-principal:rgb(77, 77, 77) !important;