@import "../vars/variables";
@import "../vars/extend";

// nesting
/* Acomode los elementos del producto utilizando GRID*/
main{
    h1{
        @extend %titulos;
    }
    .producto{
        text-align: center;
        margin: 100px o 200px 0;
        .precio-producto{
            display: grid;
            grid-template-rows: 0.4fr 0.5fr 0.5fr 0.4fr;
            margin-top: 2rem;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .boton{
            @extend %botones;            
        }
    }
    div{
        .item-fixed{
            @extend %whatsapp;
        }
    }
}
    
.boton:hover{
    color: $color-hover;
    font-weight: bold;
}
